/*loader menuacceuil*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
} 
@keyframes loader2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__anim2 {
      width: 50px;
      height: 50px;
      margin: 8px;
      border-radius: 50%;
      border: 5px solid black;
      border-color: black black transparent;
      animation: loader2 1.5s linear infinite;
}


/*menu*/
@keyframes cartes {
  0% {
      transform:  translateY(25px);
      opacity: 0;
    }
  100% {
    transform:  translateY(0);
    opacity: 1 ;
  }
}
.menu1{
  animation: cartes 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.42,.7,.63,.85);
}
.anim1{
 animation-delay: 0.4s;
}
.anim2{
  animation-delay: 0.5s;
}
.anim3{
  animation-delay: 0.6s;
}
.anim4{
  animation-delay: 0.8s;
}
.anim5{
  animation-delay: 0.9s;
}
.anim6{
  animation-delay: 1s;
}
.anim7{
  animation-delay: 1.2s;
}
.anim8{
  animation-delay: 1.3s;
}
.anim9{
  animation-delay: 1.4s;
}
.anim10{
  animation-delay: 1.5s;
}

/*like*/
@keyframes animlike {
  0% {
    opacity: 0;
  }

  100% {
   opacity:1;
  }
}